article {
	flex: 1;
	min-width: 200px;
}

article .img-part img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

article .info-post h4 {
	font-size: 1.1rem;
	color: #363636;
	margin: 26px 0;
}

article .info-post p {
	color: #999;
	font-size: 0.87rem;
}

article .link {
	margin-top: 24px;
	color: #000;
	display: flex;
	justify-content: flex-start;
	gap: 7px;
}

@media(max-width: 970px) {
	article .info-post h4 {
		font-size: 0.97rem;
	}
}

@media(max-width: 830px) {
	article {
		min-width: 230px;
	}

	article:last-child {
		max-width: 55%;
	}
}

@media(max-width: 770px) {
	article .info-post h4 {
		font-size: 0.84rem;
	}

	article .info-post p {
		font-size: 0.8rem;
	}

	article .link span {
		font-size: 0.8rem;
	}
} 

@media(max-width: 700px) {
	article {
		max-width: 65%;
	}

	article .link {
		justify-content: center;
	}
}

@media(max-width: 480px) {
	article:last-child {
		max-width: 65%;
	}
}