.header {
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header .logo span {
	font-weight: bold;
	font-size: 1.4rem;
}

.header ul {
	display: flex;
	gap: 40px;
}

.header ul li {
	list-style: none;
	color: #999;
	cursor: pointer;
}

.header ul li:hover {
	color: #000;
}

.header .btn .enviar {
	background-color: rgb(37, 99, 235);
	color: #FFF;
	padding: 12px 30px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.header .hamburguer {
	display: none;
}